.clock {
  display: none;
  position: relative;
  width: 300px;
  height: 130px;
  border-radius: 4px;
  background-color: rgba(45, 43, 43, 0.9);
}

.clock.active {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock p {
  margin-bottom: 15px;
  color: #fff;
  font-size: 24px;
}

.clock h1 {
  color: #fff;
  font-size: 30px;
}

.clock button {
  position: absolute;
  top: 5px;
  right: 3px;
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}
