.error {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 180px;
  padding: 20px 10px 10px 10px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.error.active {
  display: block;
}

.error p:first-child {
  color: black;
  font-size: 25px;
  margin-bottom: 35px;
}

.error p:nth-child(2) {
  color: #4b4b4b;
  font-size: 14px;
}

.error button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 70px;
  height: 35px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #1094f6;
  font-size: 16px;
  cursor: pointer;
}
