.main {
  display: flex;
}

.aside {
  width: 18.0555%;
  background-color: #4e585c;
}

.aside h3 {
  padding: 18.5px 30px;
  color: #fff;
  font-size: 16px;
  line-height: 1.1875;
}

.recent-notes {
  height: 217px;
  padding: 20px 30px;
  color: #fff;
  font-size: 14px;
  line-height: 1.1721;
}

.note-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.note-item:last-child {
  margin-bottom: 0;
}

.note-item i {
  margin-right: 10px;
}

.aisde-separator {
  width: 100%;
  height: 1px;
  background: rgba(219, 224, 226, 0.2);
}

.category {
  height: 655px;
  padding: 20px 0 0 30px;
}

.category-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
  cursor: pointer;
}

.category-card:last-child {
  margin-bottom: 0;
}

.category-card a {
  display: flex;
  align-items: center;
}

.category-card i {
  width: 26px;
  height: 26px;
  margin-right: 12px;
  font-size: 26px;
}

.category-card p {
  font-size: 14px;
  line-height: 1.1721;
}

.copyright {
  padding: 15px 0 15px 30px;
}

.copyright p {
  color: #fff;
  font-size: 14px;
  line-height: 1.1721;
}
