.main {
  display: flex;
}

.aside {
  position: relative;
  width: 18.0555%;
  background-color: #4e585c;
}

.recent-notes {
  padding: 30px;
  color: #fff;
  font-size: 14px;
  line-height: 1.1721;
}

.recent-notes h3 {
  margin-bottom: 21px;
}

.recent-notes-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recent-notes-item:last-child {
  margin-bottom: 0;
}

.recent-notes-item i {
  margin-right: 10px;
}

.aisde-separator {
  width: 100%;
  height: 1px;
  background: rgba(219, 224, 226, 0.2);
}

.category {
  height: 655px;
  padding: 20px 0 0 30px;
}

.category-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.category-card:last-child {
  margin-bottom: 0;
}

.category-card i {
  width: 26px;
  height: 26px;
  margin-right: 12px;
  font-size: 26px;
}

.category-card p {
  font-size: 14px;
  line-height: 1.1721;
}

.upgrade {
  display: flex;
  align-items: center;
  padding: 15px 0 15px 30px;
  color: #fff;
}

.upgrade i {
  margin-right: 13px;
  font-size: 26px;
}

.upgrade p {
  font-size: 14px;
  line-height: 1.1721;
}

.bookmark {
  position: absolute;
  top: 10%;
  right: -2.5%;
  width: 8px;
  height: 60px;
  background-color: #2dbe60;
}
