.main {
  display: flex;
}

.aside {
  width: 18.0555%;
  background-color: #4e585c;
}

.aside h3 {
  padding: 18.5px 30px;
  color: #fff;
  font-size: 16px;
  line-height: 1.1875;
}

.book-list {
  height: 367px;
  color: #fff;
  font-size: 14px;
  line-height: 1.1721;
}

.book-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px 30px;
  background-color: #424242;
}

.book-item:last-child {
  margin-bottom: 0;
}

.book-item i {
  margin-right: 10px;
}

.aside-separator {
  width: 100%;
  height: 1px;
  background: rgba(219, 224, 226, 0.2);
}

.category {
  height: 505px;
  padding: 20px 0 0 30px;
}

.book-create {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.book-create i {
  margin-right: 12px;
  color: #fff;
  font-size: 26px;
}

.book-create p {
  color: #fff;
  font-size: 14px;
  line-height: 1.1721;
}

.memo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.memo:last-child {
  margin-bottom: 0;
}

.memo a {
  display: flex;
  align-items: center;
}

.memo i {
  margin-right: 12px;
  color: #fff;
  font-size: 26px;
}

.memo p {
  color: #fff;
  font-size: 14px;
  line-height: 1.1721;
}

.copyright {
  padding: 15px 0 15px 30px;
}

.copyright p {
  color: #fff;
  font-size: 14px;
  line-height: 1.1721;
}
