.bin {
  width: 81.9444%;
}

.bin-note {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 30px 66px 0 85px;
}

.bin-title {
  color: #555555;
  font-size: 20px;
  line-height: 1.1666;
}

.restoration {
  border: none;
  background: none;
  color: #999;
  font-size: 20px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.restoration:hover {
  animation: rotate-restoration 2s linear infinite;
  animation-direction: reverse;
}

@keyframes rotate-restoration {
  100% {
    transform: rotate(360deg);
  }
}

.bin-separator {
  width: 100%;
  height: 1px;
  background-color: #dbe0e2;
}
