.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 30px 0 33px;
  background-color: #dbe0e2;
}

.top-btn {
  display: flex;
  position: absolute;
  left: 20px;
  top: 20px;
}

.top-btn__red,
.top-btn__orange,
.top-btn__green {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.top-btn__red {
  background-color: #ff6159;
}

.top-btn__orange {
  margin: 0 8px;
  background-color: #ffc12f;
}

.top-btn__green {
  background-color: #29cf42;
}

.left-header {
  display: flex;
  align-items: center;
  margin-left: 122px;
}

.header-arrow {
  display: flex;
  align-items: center;
  margin-right: 18px;
}

.header-arrow__prev,
.header-arrow__next {
  border: none;
  background: none;
  cursor: pointer;
}

.header-arrow__prev {
  margin-right: 10px;
}

.header-arrow__prev i,
.header-arrow__next i {
  color: #777777;
  font-size: 12px;
}

.search {
  display: flex;
  align-items: center;
  width: 430px;
  height: 30px;
  border-radius: 4px;
  background-color: #fff;
}

.search i {
  margin: 0 10px 0 15px;
  border: none;
  background: none;
  color: #777777;
  font-size: 10px;
}

.search-input {
  width: 350px;
  border: none;
  color: #777777;
  font-size: 14px;
  line-height: 1.1721;
}

.right-header {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.create-memo {
  width: 100px;
  height: 37px;
  margin-right: 30px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #2dbe60;
  font-size: 14px;
  line-height: 1.1721;
  cursor: pointer;
}

.notification {
  position: relative;
  margin-right: 35px;
  border: none;
  background: none;
  cursor: pointer;
}

.notification i {
  color: #777777;
  font-size: 23px;
}

.notification i.active {
  color: green;
}

.notify-count {
  position: absolute;
  top: -8px;
  left: 25px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: red;
  background-color: yellow;
  font-size: 15px;
  line-height: 20px;
}

.user-form,
.greetings {
  display: none;
}

.user-form.showing,
.greetings.showing {
  display: block;
}

.user-form input {
  height: 30px;
  padding-left: 10px;
  border: none;
  border-radius: 4px;
  color: #777777;
  font-size: 14px;
  line-height: 1.1721;
}

.greetings {
  color: #777777;
  font-size: 14px;
  line-height: 1.1721;
}
