.note {
  width: 81.9444%;
}

.note.position {
  position: absolute;
  left: 41.6666%;
  width: 58.3333%;
}

.note-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 37px 66px 0 85px;
}

.notes-tags {
  height: 35px;
}

.tag {
  display: inline-block;
  margin: 2px 3px;
  padding: 5px 10px;
  border-radius: 100px;
  background-color: #e9edee;
  font-size: 12px;
  line-height: 1.6666;
  transition: all 0.1s linear;
}

.tag:hover {
  color: #fff;
  background-color: #f5deb3;
}

.notes-close::after {
  content: "x";
  margin-left: 10px;
  font-weight: 700;
}

.notes-close:hover::after {
  color: red;
}

.notes-input {
  width: 250px;
  margin-left: 10px;
  padding: 7.5px 0;
  border: none;
  outline: none;
}

.note-icons {
  display: flex;
  align-items: center;
}

.note-icons button {
  margin-right: 10px;
  border: none;
  background: none;
  color: #999;
  font-size: 21px;
  cursor: pointer;
}

.note-icons button:nth-child(3) {
  margin-right: 20px;
}

.note-icons button:last-child {
  width: 78px;
  height: 25px;
  margin-right: 0;
  border: 1.5px solid #999999;
  border-radius: 4px;
  color: #777;
  font-size: 12px;
  line-height: 1.1666;
}

.note-icons button:last-child i {
  margin-left: 4.5px;
  font-size: 10px;
}

.note-days {
  display: flex;
  margin-bottom: 22px;
  padding-left: 85px;
}

.note-days p {
  color: #999;
  font-size: 12px;
  line-height: 1.1666;
}

.note-days p:first-child {
  margin-right: 30px;
}

.note-separator {
  width: 100%;
  height: 1px;
  background-color: #dbe0e2;
}

.note-text {
  padding: 32px 66px 0 85px;
  color: #555555;
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.note-title {
  font-size: 30px;
  line-height: 1.1666;
}

.note-copy {
  text-align: center;
  width: 78px;
  padding: 4.5px;
  border: 1.5px solid #999999;
  border-radius: 4px;
  color: #777;
  background: none;
  font-size: 12px;
  line-height: 1.1666;
  cursor: pointer;
}

.note-desc {
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 1.5625;
}

.note-textarea textarea {
  width: 100%;
  padding: 5px;
}
