.note-container {
  width: 58.3333%;
}

.note {
  padding: 37px 66px 0;
}

.note-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.note-tags {
  height: 35px;
}

.tag {
  display: inline-block;
  margin: 2px 3px;
  padding: 5px 10px;
  border-radius: 100px;
  background-color: #e9edee;
  font-size: 12px;
  line-height: 1.6666;
  transition: all 0.1s linear;
}

.tag:hover {
  color: #fff;
  background-color: #f5deb3;
}

.notes-close::after {
  content: "x";
  margin-left: 10px;
  font-weight: 700;
}

.notes-close:hover::after {
  color: red;
}

.notes-input {
  width: 250px;
  margin-left: 10px;
  padding: 7.5px 0;
  border: none;
  outline: none;
}

.note-icons {
  display: flex;
  align-items: center;
}

.note-icons button {
  margin-right: 25px;
  padding: 0;
  border: none;
  background: none;
  color: #999;
  font-size: 21px;
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}

.icon-light.active {
  color: red;
  transform: scale(1.3);
}

.note-icons button:last-child {
  margin-right: 0px;
}

.note-icons button:hover {
  transform: scale(1.3);
}

.note-icons button:last-child i {
  pointer-events: none;
}

.note-days {
  display: flex;
  margin-bottom: 20px;
  padding-left: 5px;
}

.note-days p {
  color: #999;
  font-size: 12px;
  line-height: 1.1666;
}

.note-days p:first-child {
  margin-right: 30px;
}

.note-text {
  color: #555555;
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.note-title {
  width: 700px;
  border: none;
  background: none;
  color: #777;
  font-size: 30px;
  line-height: 1.1666;
}

.note-title:hover {
  border: 1px solid #777;
}

.note-header div button {
  text-align: center;
  width: 78px;
  padding: 4.5px;
  border: 1.5px solid #999999;
  border-radius: 4px;
  color: #777;
  background: none;
  font-size: 12px;
  line-height: 1.1666;
  cursor: pointer;
}

.modify-btn {
  margin-right: 15px;
}

.note-desc {
  width: 100%;
  margin-bottom: 60px;
  padding: 5px;
  border: none;
  background: none;
  font-size: 16px;
  line-height: 1.5625;
}

.note-desc:hover {
  border: 1px solid #777;
}

.note-textarea textarea {
  width: 100%;
  padding: 5px;
}
