.sidebar {
  width: 23.6111%;
}

.note-create {
  display: flex;
  align-items: center;
  padding: 15px 30px 15px 22px;
  border: none;
  background: none;
  color: #777777;
  cursor: pointer;
}

.note-create i {
  margin-right: 10px;
  color: #138ef7;
  font-size: 26px;
}

.note-create p {
  margin-right: 5px;
  color: #138ef7;
  font-size: 16px;
  line-height: 1.1875;
}

.sidebar-separator {
  width: 100%;
  height: 1px;
  background: #dbe0e2;
}

.sidebar-item {
  padding: 20px 30px 20px 22px;
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: #f9fafc;
}

.sidebar-item:last-child {
  margin-bottom: 0;
}

.sidebar-item input {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  background: none;
  line-height: 1.1875;
  cursor: pointer;
}

.sidebar-item textarea {
  width: 100%;
  border: none;
  color: #999999;
  background: none;
  font-size: 14px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  resize: none;
}

.main-separator {
  width: 1px;
  height: auto;
  background: #dbe0e2;
}
