.subsidebar {
  width: 23.6111%;
}

.note-create {
  display: flex;
  align-items: center;
  padding: 15px 30px 15px 22px;
  border: none;
  background: none;
  color: #777777;
  cursor: pointer;
}

.note-create i {
  margin-right: 10px;
  color: #138ef7;
  font-size: 26px;
}

.note-create p {
  margin-right: 5px;
  color: #138ef7;
  font-size: 16px;
  line-height: 1.1875;
}

.subsidebar-separator {
  width: 100%;
  height: 1px;
  background: #dbe0e2;
}

.subsidebar-content {
  padding: 20px 30px 0 22px;
}

.subsidebar-content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.subsidebar-content-item:last-child {
  margin-bottom: 0;
}

.subsidebar-content-item p:first-child {
  width: 206px;
  color: #777777;
  font-size: 14px;
  line-height: 1.1428;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subsidebar-content-item p:last-child {
  color: #999999;
  font-size: 12px;
  line-height: 0.9333;
}

.main-separator {
  width: 1px;
  height: auto;
  background: #dbe0e2;
}
