.main {
  display: flex;
}

.toDo {
  width: 18.0555%;
  padding: 15px 30px 0;
}

.toDo-form {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 40px;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 4px;
}

.toDo-form input {
  width: 100%;
  border: none;
  color: #777777;
  font-size: 14px;
  line-height: 1.1721;
}

.toDo-form i {
  margin: 0 10px 0 15px;
  border: none;
  background: none;
  color: #777777;
  font-size: 12px;
}

.toDo-list {
  display: flex;
  flex-wrap: wrap;
}

.toDo-item {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.toDo-header {
  height: 20px;
  background-color: #fced83;
}

.toDo-content {
  height: 150px;
  background-color: #ffff9d;
}

.toDo-item p {
  padding: 15px 20px 0;
  color: #222;
  font-size: 14px;
  line-height: 1.3;
}

.toDo-item button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
}

.toDo-item button:nth-child(2) {
  top: 0;
  right: 45px;
}

.toDo-item button:nth-child(3) {
  top: 0;
  right: 20px;
}
